<div class="list-header">
  <h3><%= list.title %></h3>
  <div><%= list.description %></div>
</div>

<ul class="list-items">
  <% list.items.each do |item| %>
    <%= render partial: 'to_do_items/item', locals: {item: item} %>
  <% end %>
</ul>

<%= link_to 'Add a to-do', '#' %>

<%= render partial: 'to_do_items/form', locals: {list: list} %>

