<div class="list-header">
  <h3><%= list.title %></h3>
  <div><%= list.description %></div>
</div>

<%= render partial: 'incomplete_list', locals: {items: list.items.select {|item| item.done == false}} %>

<!--<div class="alert alert-danger" role="alert">Oops, cannot be saved</div>-->

<%= link_to "#{t 'item.add.link'}", new_to_do_item_path(id: list.id), id: "add-item-link-#{list.id}" %>

<%= render partial: 'complete_list', locals: {items: list.items.select {|item| item.done == true}} %>