.list{id: "list-#{list.id}"}
  .list-header
    %span.glyphicon.glyphicon-time
    %p= t 'list.create_info_html', user: list.user.email, date: list.created_at
    %h3= list.title
    %div= list.description

  = render partial: 'list_items_container', locals: {items: list.incompleted_items, other_classes: 'incomplete'}
  = render partial: 'to_do_items/error_alert', locals: {id: list.id, type: 'mark-error', message: t('item.mark_error')}
  = render partial: 'to_do_items/error_alert', locals: {id: list.id, type: 'move-error', message: t('item.move_error')}

  - link_name = list.has_items? ? t('item.add.link') : t('item.first.link')
  = link_to link_name, new_to_do_item_path(id: list.id), id: "add-item-link-#{list.id}"

  .complete
    = render partial: 'list_items_container', locals: {items: list.completed_items, other_classes: 'complete'}